* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: lightskyblue;
    padding: 10px;
}
.main-wrapper {
    width: 90%;
    margin:30px auto;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-wrapper h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}
.left {
    border: 1px solid black;
    width: 45%;
    border-radius: 10px;
}
.left .product {
    display: flex;
    align-items: center;
    padding: 20px 24px ;
    position: relative;
}
.left .product::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
}
.left .product:last-child::before {
    display: none; 
  }

.left .product img {
    width: 100px;
    border-radius: 10px;
    margin-right: 8px;
}
.left .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.cart-container {
    display: flex;
    align-items: center;
    
}
  
.quantity-input {
    width: 50px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
}
  
.quantity-btn {
    height: 30px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0 10px; 
    margin: 0;
    cursor: pointer;
}
  
.quantity-btn:hover {
    background-color: #45a049;
}
  
.plus,.minus {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.buttons svg {
    margin-bottom: 30px;
    color: red;
    cursor: pointer;
}
.info .text h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 8px;
}
.info .text p{
    font-size: 14px;
    line-height: 19px;
}
.info .text span{
    font-weight: bold;
}
.info .text h3{
    font-size: 27px;
    line-height: 29px;
    font-weight: bold;
    margin-top: 8px;
}


.right {
    border: 1px solid black;
    width: 45%;
    padding: 20px 24px ;
    border-radius: 10px;
}
.right h2{
    font-size: 24;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 15px;
}
.right .price-total > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.right .price-total > div p {
    font-weight: bold;
}
.right .price-total > div.discount p{
    color: red;
}

.right .price-total > div:last-child {
    position: relative;
    margin-top: 20px;
}
.right .price-total > div:last-child::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    top: -10px;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
}

.coupon {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}
.coupon button {
    border-radius: 30px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    margin-left: 15px;
}

.coupon input {
    border-radius: 30px;
    padding: 10px 16px;
    border: none;
    position: relative;
    border: 1px solid #000;
    width: 100%;
    outline: none;
}
button.check {
    border-radius: 30px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
  }
  .btn-success {
    background-color: #28a745;  
    color: #fff; 
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .btn-danger {
    background-color: #dc3545; 
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

  }