/* .rest  {
     display: none;
} */

body {
    height: 100vh;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
    font-weight: bold;
}

input {
    width: 95%;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.input {
    position: relative;
}
.input .with-first ,
.input .with-second {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.star {
    color: red;
}
#error_name ,
#error_pass,
#error_confirm,
#error_mail {
    color: red;
    font-size: 14px;
}