# Ignore everything in the assets folder
*
# But allow these specific files and folders
!assets/img
!assets/vendor/fonts/boxicons.css
!assets/vendor/fonts/fontawesome.css
!assets/vendor/fonts/flag-icons.css
!assets/vendor/css/rtl/core.css
!assets/vendor/css/rtl/theme-semi-dark.css
!assets/css/demo.css
!assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css
!assets/vendor/libs/typeahead-js/typeahead.css
!assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css
!assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css
!assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css
!assets/vendor/libs/select2/select2.css
!assets/vendor/libs/formvalidation/dist/css/formValidation.min.css
!assets/vendor/libs/jquery/jquery.js
!assets/vendor/libs/popper/popper.js
!assets/vendor/js/bootstrap.js
!assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js
!assets/vendor/libs/hammer/hammer.js
!assets/vendor/libs/i18n/i18n.js
!assets/vendor/libs/typeahead-js/typeahead.js
!assets/vendor/js/menu.js
!assets/vendor/libs/moment/moment.js
!assets/vendor/libs/datatables/jquery.dataTables.js
!assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js
!assets/vendor/libs/datatables-responsive/datatables.responsive.js
!assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js
!assets/vendor/libs/datatables-buttons/datatables-buttons.js
!assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.js
!assets/vendor/libs/jszip/jszip.js
!assets/vendor/libs/pdfmake/pdfmake.js
!assets/vendor/libs/datatables-buttons/buttons.html5.js
!assets/vendor/libs/datatables-buttons/buttons.print.js
!assets/vendor/libs/select2/select2.js
!assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js
!assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js
!assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js
!assets/vendor/libs/cleavejs/cleave.js
!assets/vendor/libs/cleavejs/cleave-phone.js
!dump-local-storage.js
!assets/js/main.js
!app-user-list.js
# ...even if they are in subdirectories
!*/
# assets/*
js/signin.js
js/SignUpSeller.js
.vscode/settings.json
